/*
  Name: Jasmine Zhang & Sthiti Patnaik
  Date: May 7, 2023
  Section: CSE 154 AG & AF
  TA's: TARA WUEGER & ALLISON HO
*/


body {
  background-color: #d7dad7;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#banner {
  background-color: #dcf3c6f1;
  height: 285px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #234F1E;
}

#banner img {
  height: 290px;
  padding-bottom: 43px; /* Increase the padding at the bottom */
}


#banner-text {
  position: absolute; /* Add absolute positioning */
  top: 17.5%; /* Position it vertically in the middle */
  left: 50%; /* Position it horizontally in the middle */
  transform: translate(-50%, -50%); /* Center it precisely */
  text-align: center; /* Center the text */
}

#banner-text h2 {
  font-size: 30px;
  color: #234F1E;
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
}

body > header {
  display: flex;
  align-items: center;
  background-color: #a0cc74;
  justify-content: space-between;
  font-weight: 500;
  height: 80px;
}

body > header > img {
  width: 3.5%;
  margin: 40px;
}

body > header > img:hover {
  filter: grayscale(60%);
}

#not-signed-in {
  display: flex;
  margin: 30px;
  gap: 10px;
}

#not-signed-in > button {
  font-size: 15px;
  padding: 14px 16px;
  background-color: #a0cc74;
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  color: white;
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
}

#not-signed-in > button:hover {
  background-color: white;
  border-color: #a0cc74;
  color: #a0cc74;
}

body {
  background-color: white;
  margin: 0;
}

hr {
  margin: 0;
  border-color: #234F1E;
}

#search-header {
  display: flex;
  justify-content: center;
  gap: 7px;
}

#search-term {
  width: 800px; /* Set a maximum width for the input */
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  border: 2px solid #234F1E;
}

#search-btn {
  font-size: 15px;
  padding: 10px 10px;
  background-color: white;
  border-radius: 5px;
  border-color: #234F1E;
  border-style: solid;
  color: #234F1E;
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
}

#search-btn:hover {
  background-color: rgb(225, 218, 218);
  border-color: #234F1E;
  color: #234F1E;
}

#about-button-container {
  position: absolute;
  top: 49.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#about-button {
  padding: 10px 20px;
  background-color: #afc59a4e;
  border-radius: 10px;
  border-color: #234F1E;
  border-style: solid;
  border: 1px solid #234F1E;
  color: #234F1E;
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
}

#about-button:hover {
  background-color: #afc59ac4;
}


/* ----account details css---- */

.listing-view {
  display: flex;
  align-items: flex-start;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10%;
}

.left-side-smiskii-view {
  width: 200px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 50%;
  margin-right: 20px;
}

.listing-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#account-details-info {
  width: 300px;
  height: auto;
  background-color: green;
  margin-bottom: 10%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.labels {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.labels h1 {
  margin-right: 10px;
}

.input-listing-containers {
  display: flex;
  flex-direction: column;
}

.input-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-box input[type="text"] {
  flex: 1;
  margin-left: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#update-now {
  width: auto;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

#details-container {
  display: flex;
}

/* .series-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.series-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.series-name-card {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
} */

#search-results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  margin-top: 5%;
  /* gap: 10%; */
}

.series-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 60px;
  /* padding: 20%; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.series-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.series-name-card {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}

.hidden {
  display: none !important;
}

/* LOGIN/SIGNUP STYLING */
#signup-page label,
#login-page label {
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 110%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Added property */
}

input[type="submit"] {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #a0cc74;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

#login-page input[type="submit"] {
  margin-bottom: 30px;
}

#login-page button {
  margin-bottom: 25px;
}


#login-page,
#signup-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: #fff;
  border-radius: 10px;
  padding: 50px 90px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#login-page input,
#signup-page input {
  margin: 0; /* Added property */
}

#login-from-signup,
#signup-from-login {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
  color: #a0cc74;
  font-size: 15px;
}

.home {
  width: 30%;
  padding: 5px 2px;
  margin-bottom: 10px;
  background-color: white;
  color: #a0cc74;
  border-color: #a0cc74;
  border-radius: 5px;
  border-style: solid;
  cursor: pointer;
}
