/*
  Name: Jasmine Zhang & Sthiti Patnaik
  Date: May 7, 2023
  Section: CSE 154 AG & AF
  TA's: TARA WUEGER & ALLISON HO
*/

body > header {
  display: flex;
  align-items: center;
  background-color: rgb(232, 185, 194);
  font-family: 'Comfortaa', cursive;
  justify-content: space-between;
  color: white;
  font-weight: 500;
}

body > header > div > h1 {
  font-size: 75px;
}

#headertext {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

body > header > img {
  width: 5%;
  margin: 40px;
}

body > header > img:hover {
  filter: grayscale(60%);
}

#buttons {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

#buttons > button {
  font-size: 18px;
  padding: 14px 16px;
  background-color: rgb(232, 185, 194);
  border-radius: 12px;
  border-color: white;
  border-style: solid;
  color: white;
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
}

#buttons > button:hover {
  background-color: white;
  border-color: rgb(232, 185, 194);
  color: rgb(232, 185, 194);
}

#buttons > #signup {
  margin-bottom: 10px;
}

body {
  background-color: white;
  margin: 0;
}

hr {
  margin: 0;
  border-color: rgb(232, 185, 194);
}

#headertext > h1 {
  margin-top: 15px;
  margin-bottom: 10px;
}

#headertext > h2 {
  margin-top: 10px;
  margin-bottom: 15px;
}

#search {
  display: flex;
  align-items: center;
  margin: 20px 180px 50px 160px;
  font-family: 'Manrope', sans-serif;
}

#list {
  display: flex;
  align-items: center;
  margin: 20px 160px 50px 190px;
  font-family: 'Manrope', sans-serif;
}

#search > section,
#list > section {
  display: flex;
  flex-direction: column;
}

#search > img {
  width: 200px;
  height: auto;
  margin-right: 140px;
}

#list > img {
  width: 170px;
  height: auto;
  margin-left: 140px;
}

#search h3,
#list h3 {
  font-size: 30px;
  margin: 0 0 10px 0;
}

#search p,
#list p {
  font-size: 22px;
}

#searchbutton,
#listbutton {
  font-size: 18px;
  padding: 14px 16px;
  background-color: white;
  border-radius: 12px;
  border-color: rgb(232, 185, 194);
  border-style: solid;
  color: rgb(232, 185, 194);
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  width: 40%;
}

#searchbutton:hover,
#listbutton:hover {
  background-color: rgb(232, 185, 194);
  border-radius: 12px;
  border-color: rgb(232, 185, 194);
  border-style: solid;
  color: white;
}

/* ----account details css---- */

.listing-view {
  display: flex;
  align-items: flex-start;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10%;
}

.left-side-smiskii-view {
  width: 200px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 50%;
  margin-right: 20px;
}

.listing-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#account-details-info {
  width: 300px;
  height: auto;
  background-color: green;
  margin-bottom: 10%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.labels {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.labels h1 {
  margin-right: 10px;
}

.input-listing-containers {
  display: flex;
  flex-direction: column;
}

.input-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-box input[type="text"] {
  flex: 1;
  margin-left: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#update-now {
  width: auto;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

#details-container {
  display: flex;
}